.container {
}
.jumbotron{
}
.row {
}
.col-12 {
  text-align: center;
}
.col-8 {
  text-align: center;
}
.col-4 {
  text-align: center;
  font-size: 25px;
}
.question{
  padding: 10px;
}
.answer{
  padding: 10px;
}
.submitanswer{
  padding: 10px;
}
